[stepper_x]
step_pin: gpio11
dir_pin: !gpio10
enable_pin: !gpio12
microsteps: 8
rotation_distance: 0.5
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 0
position_max: 99999
position_min: -99999
homing_positive_dir: false
homing_speed: 50
gear_ratio: 1:2, 7:4, 1:300, 1:3 
full_steps_per_rotation: 400

[tmc2209 stepper_x]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 0
run_current: 0.5
hold_current: 0.3
stealthchop_threshold: 0
diag_pin: ^gpio4
driver_SGTHRS: 100
coolstep_threshold: 100

[stepper_y]
step_pin: gpio6
dir_pin: !gpio5
enable_pin: !gpio7
microsteps: 8
rotation_distance: 0.5
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 0
position_max: 99999
position_min: -99999
homing_positive_dir: false
homing_speed: 50
gear_ratio: 1:2, 7:4, 1:300, 1:3
full_steps_per_rotation: 400

[tmc2209 stepper_y]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 2
run_current: 0.5
hold_current: 0.3
stealthchop_threshold: 0
diag_pin: ^gpio3
driver_SGTHRS: 100
coolstep_threshold: 100

[stepper_z]
step_pin: gpio19
dir_pin: gpio28
enable_pin: !gpio2
microsteps: 16
rotation_distance: 1
position_endstop: 0
endstop_pin: ^gpio25
position_max: 99999
position_min: -99999
homing_positive_dir: false
homing_speed: 12
gear_ratio: 1:200, 1:3
full_steps_per_rotation: 400

[tmc2209 stepper_z]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 1
run_current: 0.500
hold_current: 0.300
stealthchop_threshold: 0
coolstep_threshold: 1

[mcu]
serial: /dev/ttyS0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 9000
max_accel: 45000
max_z_velocity: 9000
max_z_accel: 45000

[neopixel board_rgb]
pin: gpio24
chain_count: 1
color_order: GRB
initial_RED: 0.3
initial_GREEN: 0.3
initial_BLUE: 0.3

[input_shaper]
#shaper_freq_x: 49.4  
#shaper_freq_y: 49.4  
shaper_freq_z: 134.0

[force_move]
enable_force_move: True

[temperature_fan alwaysOnFan]
pin: gpio17
max_temp:1
min_temp:-273.15
sensor_type: EPCOS 100K B57560G104F
sensor_pin: gpio27
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: -273.15
max_temp: 250